*{
    margin: 0px;
    padding: 0px;
  }
  
  body{
       background: url("imag2.jpg");
       background-position: center;
       background-size:  100%;
       background-origin: 100%;
       margin: 0px;
       padding-top: 0px;
       background-repeat: no-repeat;
       background-size: cover;
       height: 0px;
  }
  
  
  .header1 {
      padding:  00 480px;
  }
  
  
  .header2 h1{
      font-size: 35px;
      padding-bottom: 10px;
      color: aqua;
      font-style: italic;
      margin-left: 10%;
  }
  
  .header2 h2{
      font-size: 40px;
      padding-bottom: 45px;
      padding-left: 85px;
      color: lightblue;
      font-style: italic;
  }
  
  
  .header3  input{
      width: 100%;
      padding: 12px 11px;
      margin: 8px 0px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-sizing: border-box;
      border-bottom: 2px solid rgb(138, 197, 28);
      border-right: 1.5px solid rgb(138, 197, 28);
  }
  
  
  .input{
      width: 100%;
      padding: 12px 11px;
      margin: 8px 0px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-sizing: border-box;
      border-bottom: 2px solid rgb(138, 197, 28);
      border-right: 1.5px solid rgb(138, 197, 28);
  }
  
  
  .profession{
      width: 100%;
      padding: 12px 11px;
      margin: 8px 0px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-sizing: border-box;
      border-bottom: 2px solid rgb(138, 197, 28);
      border-right: 1.5px solid rgb(138, 197, 28);
  }
  
  .btn{
      width: 30%;
      background-color: blue;
      border-radius: 10px;
      padding-top: 4px;
      padding-left:50px;
      padding-right: 60px;
      padding-bottom: 3px;
      font-size: 20px;
      cursor: pointer;
      border-bottom: 2px solid blue;
      border-right: 1.5px solid blue;
      color: rgba(235, 164, 97, 0.692);
      font-style: italic;
      margin-left: 120px;
  }
  
  
  .btn:hover{
      background-color: rgb(170, 35, 159);
      color: black;
  }
  
  
  .btn:active{
      background-color: white;
      color:  blue;
  }
  
  .checkbox{
      cursor: pointer;
  }
  
  
  .link{
      float: right;
      padding-top: 90px;
      padding-right: 30px;
  }
  
  
  .link li{
      color: white;
      font-size: 20px;
      display: flex;
      display: inline-block;
      border: 1px;
      border-radius: 10px;
      margin-left: 10px;
      padding-left: 13px;
      padding-right: 13px;
      padding-top: 2px;
      padding-bottom: 3px;
  }
  
  .link li:hover{
      background-color: white;
      color: blue;
  }
  
  
  
